@model DrakthulJelita.Web.ViewModels.ScreenshotCreateVm

@{
    ViewData["Title"] = "Create";
}

@* <div asp-validation-summary="All" class="text-red-500"></div> *@

<main class="relative flex grow flex-col items-center justify-center gap-8 md:flex-row">
    <img src="" alt="" class="screenshot w-64 rounded shadow"/>

    <div>
        @if (TempData["Status"] as string == "screenshot-created")
        {
            <div class="mb-4">
                <partial name="_alertSuccess" model=@("Saved successfully")/>
            </div>
        }

        <form
            method="POST"
            asp-controller="Screenshots"
            asp-action="Create"
            enctype="multipart/form-data"
            class="uploadForm card bg-base-200 shadow"
        >

            @Html.AntiForgeryToken()

            <div class="card-body gap-4">
                <h1 class="card-title">Upload new screenshot</h1>

                <label class="input">
                    <span class="label">Name</span>
                    <input
                        type="text"
                        asp-for="Input.WowName"
                        required
                        minlength="2"/>
                </label>

                <span asp-validation-for="Input.WowName" class="text-red-500"></span>

                <div class="flex flex-col gap-1.5">
                    @foreach (var wowClass in Model.WowClasses)
                    {
                        <div class="flex items-center gap-1" style="color: @wowClass.Color">
                            <input
                                type="radio"
                                asp-for="Input.WowClassId"
                                value="@wowClass.Id"
                                required
                                id="wowClass-@wowClass.Id"
                                class="radio"/>

                            <label for="wowClass-@wowClass.Id" class="capitalize">
                                @wowClass.Name
                            </label>
                        </div>
                    }

                    <span asp-validation-for="Input.WowClassId" class="text-red-500"></span>

                    <input
                        asp-for="Input.FileUpload"
                        type="file"
                        required
                        class="file-input"
                        id="screenshot"
                    />

                    <span asp-validation-for="Input.FileUpload" class="text-red-500"></span>

                    <div class="card-actions">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>